In [37]:
import numpy as np
import pandas as pd

In [38]:
combs = np.loadtxt('combs_maizuru.csv', delimiter = ',', dtype = str)

In [39]:
combs.shape

(105, 2)

In [40]:
maizuru = pd.read_csv('Maizuru_dominant_sp.csv')

In [41]:
maizuru

,date_tag,surf.t,bot.t,Aurelia.sp,Engraulis.japonicus,Plotosus.lineatus,Sebastes.inermis,Trachurus.japonicus,Girella.punctata,Pseudolabrus.sieboldi,...,Halichoeres.tenuispinnis,Chaenogobius.gulosus,Pterogobius.zonoleucus,Tridentiger.trigonocephalus,Siganus.fuscescens,Sphyraena.pinguis,Rudarius.ercodes,Y,M,D
0,2002-6-early,22.0,19.0,79.200000,0,1,463,0,60,18,...,23,470.0,0.0,7.0,0,0,7.0,2002,6,6
1,2002-6-late,21.0,21.0,157.200000,0,0,19,650,42,22,...,23,0.0,0.0,0.0,0,0,7.0,2002,6,26
2,2002-7-early,25.0,22.0,21.333333,0,300,47,1150,8,7,...,32,0.0,50.0,2.0,0,0,1.0,2002,7,12
3,2002-7-late,30.0,24.0,0.937500,0,302,46,958,34,19,...,22,80.0,6.0,38.0,0,0,1.0,2002,7,29
4,2002-8-early,28.0,25.0,19.333333,0,540,43,308,15,14,...,16,0.0,50.0,43.0,0,70,7.0,2002,8,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,2014-2-early,5.4,8.5,0.000000,150,0,1,0,0,0,...,0,0.0,0.0,1.0,0,0,1.0,2014,2,12
281,2014-2-late,5.5,10.4,0.000000,1,0,0,0,0,0,...,0,0.0,0.0,2.0,0,0,0.0,2014,2,23
282,2014-3-early,8.4,10.5,0.000000,0,0,0,0,0,0,...,0,0.0,0.0,6.0,0,0,0.0,2014,3,3
283,2014-3-late,11.5,10.4,0.250000,0,0,0,0,0,0,...,0,0.0,0.0,11.0,0,0,0.0,2014,3,23
284,2014-4-early,15.4,10.5,0.666667,0,0,0,0,0,1,...,0,0.0,0.0,9.0,0,0,1.0,2014,4,1

In [42]:
maizuru.drop(['date_tag', 'surf.t', 'bot.t', 'Y', 'M', 'D'], inplace = True, axis = 1)
maizuru

,Aurelia.sp,Engraulis.japonicus,Plotosus.lineatus,Sebastes.inermis,Trachurus.japonicus,Girella.punctata,Pseudolabrus.sieboldi,Halichoeres.poecilopterus,Halichoeres.tenuispinnis,Chaenogobius.gulosus,Pterogobius.zonoleucus,Tridentiger.trigonocephalus,Siganus.fuscescens,Sphyraena.pinguis,Rudarius.ercodes
0,79.200000,0,1,463,0,60,18,31,23,470.0,0.0,7.0,0,0,7.0
1,157.200000,0,0,19,650,42,22,10,23,0.0,0.0,0.0,0,0,7.0
2,21.333333,0,300,47,1150,8,7,7,32,0.0,50.0,2.0,0,0,1.0
3,0.937500,0,302,46,958,34,19,30,22,80.0,6.0,38.0,0,0,1.0
4,19.333333,0,540,43,308,15,14,10,16,0.0,50.0,43.0,0,70,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,0.000000,150,0,1,0,0,0,0,0,0.0,0.0,1.0,0,0,1.0
281,0.000000,1,0,0,0,0,0,0,0,0.0,0.0,2.0,0,0,0.0
282,0.000000,0,0,0,0,0,0,0,0,0.0,0.0,6.0,0,0,0.0
283,0.250000,0,0,0,0,0,0,0,0,0.0,0.0,11.0,0,0,0.0
284,0.666667,0,0,0,0,0,1,0,0,0.0,0.0,9.0,0,0,1.0

In [43]:
names = maizuru.columns.values.tolist()
names

['Aurelia.sp',
 'Engraulis.japonicus',
 'Plotosus.lineatus',
 'Sebastes.inermis',
 'Trachurus.japonicus',
 'Girella.punctata',
 'Pseudolabrus.sieboldi',
 'Halichoeres.poecilopterus',
 'Halichoeres.tenuispinnis',
 'Chaenogobius.gulosus',
 'Pterogobius.zonoleucus',
 'Tridentiger.trigonocephalus',
 'Siganus.fuscescens',
 'Sphyraena.pinguis',
 'Rudarius.ercodes']

In [31]:
for name in names:
    temp = np.array(maizuru[name], dtype = float)
    np.save(name, temp)

In [35]:
test = np.load('Aurelia.sp' + '.npy')

In [36]:
test

array([7.92000000e+01, 1.57200000e+02, 2.13333333e+01, 9.37500000e-01,
       1.93333333e+01, 1.54375000e+03, 9.80000000e+01, 1.61333333e+01,
       2.63733333e+02, 1.00625000e+02, 1.09533333e+02, 1.96000000e+01,
       1.56000000e+01, 7.87500000e+01, 1.74666667e+01, 1.75000000e+00,
       1.06666667e+00, 3.07692308e-01, 6.66666670e-02, 1.25000000e-01,
       1.13333333e+00, 1.46666667e+00, 9.33333333e-01, 2.87500000e+00,
       8.00000000e+00, 2.33333333e+00, 6.66666667e-01, 0.00000000e+00,
       6.66666667e-01, 2.56250000e+00, 1.11333333e+01, 2.27333333e+01,
       2.46666667e+01, 4.04375000e+01, 8.86666667e+00, 1.15333333e+01,
       3.05333333e+01, 9.37500000e-01, 1.34666667e+01, 3.75000000e-01,
       6.66666670e-02, 7.14285710e-02, 6.66666670e-02, 0.00000000e+00,
       0.00000000e+00, 1.06666667e+00, 6.66666670e-02, 2.50000000e-01,
       6.66666670e-02, 4.66666667e-01, 1.33333333e-01, 6.25000000e-02,
       2.13333333e+00, 1.31250000e+00, 2.06666667e+00, 2.66666667e+00,
       2.00000000e-01, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 2.66666667e-01, 0.00000000e+00,
       5.33333333e-01, 2.00000000e-01, 4.13333333e+00, 8.50000000e+00,
       1.93333333e+00, 6.33333333e+00, 4.13333333e+00, 1.50000000e+00,
       1.06666667e+00, 1.88750000e+01, 1.72933333e+02, 5.29333333e+01,
       2.28666667e+01, 5.12500000e+00, 3.46666667e+01, 3.62000000e+01,
       2.20666667e+01, 6.25000000e-02, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.73333333e+00, 1.06666667e+00, 4.66666667e-01, 2.62500000e+00,
       2.66666667e-01, 6.66666667e-01, 2.93333333e+00, 0.00000000e+00,
       4.66666667e-01, 2.50000000e+00, 1.13333333e+00, 2.35333333e+01,
       1.40000000e+00, 6.93750000e+00, 1.15333333e+01, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.25000000e-01,
       0.00000000e+00, 3.33333333e-01, 2.53333333e+00, 2.50000000e-01,
       9.33333333e-01, 0.00000000e+00, 0.00000000e+00, 6.87500000e-01,
       1.66666667e+00, 2.75000000e+00, 4.40000000e+00, 2.15333333e+01,
       8.06666667e+00, 1.23750000e+01, 1.80000000e+00, 6.13333333e+00,
       2.96000000e+01, 4.03125000e+01, 2.20000000e+00, 1.87500000e-01,
       6.66666670e-02, 0.00000000e+00, 2.00000000e-01, 6.25000000e-02,
       0.00000000e+00, 1.33333333e-01, 4.26666667e+00, 2.37500000e+00,
       4.66666667e-01, 2.00000000e-01, 2.00000000e-01, 3.12500000e-01,
       1.86666667e+00, 2.52500000e+01, 1.24666667e+01, 1.58666667e+01,
       8.50000000e+01, 1.72000000e+02, 3.36666667e+01, 2.23800000e+02,
       7.40000000e+00, 3.71875000e+01, 2.66666667e-01, 2.12500000e+00,
       1.00000000e+00, 7.69230770e-02, 4.20000000e+00, 4.07500000e+01,
       2.06666667e+00, 2.00000000e+00, 4.00000000e+00, 2.87500000e+01,
       3.71333333e+01, 4.92666667e+01, 1.44000000e+01, 7.03750000e+01,
       1.03333333e+01, 4.62500000e+00, 1.01800000e+02, 3.13333333e+01,
       3.66666667e+00, 2.12500000e+02, 2.90000000e+01, 5.33333333e-01,
       2.26666667e+02, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       4.00000000e-01, 0.00000000e+00, 1.33333333e-01, 0.00000000e+00,
       4.66666667e-01, 0.00000000e+00, 0.00000000e+00, 9.37500000e-01,
       1.00000000e+00, 4.93750000e+00, 5.60000000e+00, 4.24000000e+01,
       2.13333333e+00, 2.64375000e+01, 5.04000000e+01, 3.66666667e+00,
       0.00000000e+00, 6.25000000e-02, 6.66666670e-02, 6.25000000e-02,
       2.66666667e-01, 1.53846154e-01, 4.00000000e-01, 1.87500000e-01,
       5.33333333e-01, 3.33333333e-01, 2.40000000e+00, 3.87500000e+00,
       9.33333333e-01, 1.33333333e-01, 8.13333333e+00, 2.31250000e+00,
       7.06666667e+00, 2.81250000e+00, 4.28000000e+01, 1.57333333e+01,
       1.38666667e+01, 2.59375000e+01, 1.60000000e+00, 1.46666667e+00,
       3.80000000e+00, 1.87500000e-01, 6.66666670e-02, 1.25000000e+00,
       1.93333333e+00, 7.14285710e-02, 2.66666667e-01, 0.00000000e+00,
       1.46666667e+00, 3.33333333e-01, 6.66666670e-02, 2.25625000e+01,
       2.12000000e+01, 1.00000000e+00, 1.33333333e-01, 2.06250000e+00,
       5.06666667e+00, 9.18750000e+00, 1.50000000e+01, 1.37100000e+03,
       3.38000000e+01, 2.00000000e+00, 3.30000000e+01, 1.40000000e+01,
       3.56666667e+01, 1.62500000e+00, 7.53333333e+00, 0.00000000e+00,
       1.14666667e+01, 9.23076923e-01, 1.00000000e+00, 1.38750000e+01,
       2.40000000e+00, 4.13333333e+00, 2.93333333e+00, 1.31250000e+00,
       1.53333333e+01, 1.37333333e+01, 4.73333333e+00, 7.37500000e+00,
       4.40000000e+00, 2.02500000e+01, 7.33333333e-01, 1.33333333e-01,
       3.26666667e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.50000000e-01,
       6.66666667e-01])